<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spkt.nguyenducnguu.jobstore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity" />
        <activity android:name=".NTD.NTDRegisterActivity" />
        <activity android:name=".UV.UVRegisterActivity" />
        <activity android:name=".NTD.NTDMainActivity" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ADMIN.AdminMainActivity" />
        <activity android:name=".ResultRegisterActivity" />
        <activity android:name=".NTD.NTDSelectFilterActivity" />
        <activity android:name=".NTD.NTDChangeProfileActivity" />
        <activity android:name=".SelectWorkTypeActivity" />
        <activity android:name=".SelectCarrerActivity" />
        <activity android:name=".SelectLevelActivity" />
        <activity android:name=".SelectExperienceActivity" />
        <activity android:name=".SelectSalaryActivity" />
        <activity android:name=".SelectWorkPlaceActivity" />
        <activity android:name=".NTD.NTDProfileActivity" />
        <activity android:name=".NTD.NTDViewWorkInfoActivity" />
        <activity android:name=".NTD.NTDEditWorkInfoActivity" />
        <activity android:name=".NTD.NTDViewListApplyActivity" />
        <activity android:name=".UV.UVMainActivity"></activity>
        <activity android:name=".UV.UVViewProfileActivity" />
        <activity android:name=".UV.UVWorkExpActivity" />
        <activity android:name=".UV.UVDiplomaActivity" />
        <activity android:name=".UV.UVProfileActivity" />
        <activity android:name=".UV.UVChangeProfileActivity" />
        <activity android:name=".UV.UVSeeDetailActivity"></activity>
    </application>

</manifest>