<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spkt.nguyenducnguu.jobstore">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".NTD.NTDRegisterActivity" />
        <activity android:name=".UV.UVRegisterActivity" />
        <activity android:name=".NTD.NTDMainActivity" />
        <activity android:name=".UV.UVMainActivity" />
        <activity android:name=".ADMIN.AdminMainActivity" />
        <activity android:name=".ResultRegisterActivity" />
        <activity android:name=".NTD.NTDFilterActivity" />
        <activity android:name=".NTD.NTDChangeProfile" />
        <activity android:name=".SelectWorkTypeActivity" />
        <activity android:name=".SelectCarrerActivity" />
        <activity android:name=".SelectLevelActivity" />
        <activity android:name=".SelectExperienceActivity" />
        <activity android:name=".SelectSalaryActivity" />
        <activity android:name=".SelectWorkPlaceActivity"></activity>
    </application>

</manifest>